* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: red 1px solid;
}

#web-title {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: red 1px solid;
}

#sort-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: red 1px solid;
}

#sort-buttons div {
  border: red 1px solid;
}

.block {
  transition: 0.2s all ease;
}

#main div {
  display: inline-block;
  width: 5px;
  margin: 10px;
  margin-top: 5px;
  background-color: darkseagreen;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-start: center; */
  align-items: flex-end;
  margin: auto;
  width: 90%;
  /* position: center; */
  height: 700px;
  border: red 1px solid;
}

footer {
  margin-left: 2.4em;
}

footer h2 {
  display: inline-block;
  border: red 1px solid;
}

footer div {
  display: inline-block;
  margin-right: 4em;
}

#comparison,
#time-complexity {
  display: inline-block;
  font-size: 2em;
  margin-left: 0.1em;
}

#time-complexity {
  font-size: 1.5em;
}
